@font-face {
    font-family: "Pokemon";
    src: url(./Pokemon\ Hollow.ttf);
  }
@font-face {
    font-family: "flower";
    src: url(./IndieFlower-Regular.ttf);
  }
 

body {
    font-family: "flower";
    font-size: 1.5rem;
    background-image: url("./pokemon_background.jpg");
 
     
  }
   
header {
    background-color: rgb(9, 103, 219);
    margin: 0px;
    padding: 0.5rem;
    border-bottom: 15px solid rgb(228, 165, 83);
    color: aliceblue;
    
}
h1 {
    font-family: 'flower';
    font-size: 3rem;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    
  }

.pokefont {
    font-family: "Pokemon";
}


.add-new-pokemon-container {

    margin: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-items: center;
}



.page {
    display:flex
}

.rounded {
    border-radius: 3rem;
    padding: 0.5rem;
    margin: 1rem;
}

.flex {
    display: flex;
}

button, select {
    font-family: "flower";
    font-size: 1.5rem;
}
