.pokemon-card {
  background-color: rgb(214, 235, 248);
  min-width: 16rem;
  max-width: min-content;
  min-height: max-content;
  margin: 1em;
  border-radius: 32px;
  border: rgb(244, 184, 95) solid 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  box-shadow: rgba(99, 99, 99, 0.2) 5px 5px 8px 0px;

}

.card-img {
  
  width: 40%;

}

.header-on-card {
  font-size: 1.5rem;
}
.type-on-card {
  font-size: 1rem;
}
.remove-button {
  border-radius: 32px;
  margin-bottom: 1em;
}