.pokemon-card {
  background-color: rgb(214, 235, 248);
  min-width: 16rem;
  width: fit-content;
  margin: 32px;
  padding: 32px;
  border-radius: 32px;
  border: rgb(244, 184, 95) solid 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  box-shadow: rgba(99, 99, 99, 0.2) 5px 5px 8px 0px;

}

img {
  margin: auto;
  width: 50%;
  height: auto;
}