.about {
    
    margin: 120px;
    margin-top: 0px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
   
}

li {
    list-style: none;
}

h2 {
    text-align: center;
}