.pokemon-card {
    background-color: rgb(202, 225, 240);
    min-width: 16rem;
    width: fit-content;
    margin: 32px;
    padding: 32px;
    border-radius: 32px;
    border-style: solid;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
  }