.pokefont {
    font-family: "Pokemon";
}


.add-new-pokemon-container {
    background-color: rgb(255, 242, 226);
    border-radius: 32px;
    /* border:rgb(15, 12, 8) dashed 3px; */
    margin: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 5px 5px 8px 0px;

}


.rounded {
    border-radius: 3rem;
    padding: 0.5rem;
    margin: 1rem;
}

.flex {
    display: flex;
}

button, select {
    font-family: "flower";
    font-size: 1.5rem;
    justify-items: center;
}

.centered {
    justify-items: center;
}

