@font-face {
  font-family: "Pokemon";
  src: url(./Pokemon\ Hollow.ttf);
}


body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(114, 170, 204);
  text-align: center;
  
}


.container {
  padding: 20px;
  text-align: center;
  

}

.pokemons-container {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-family: "Pokemon";
  font-size: 72px;
}


.pokemon-card {
  background-color: blanchedalmond;
  width: 180px;
  max-width: 300px;;
  margin: 32px;
  padding: 32px;
  border-radius: 32px;
  border-style: solid;
  text-align: center;
  
  
}
